@charset "utf-8";

.wrapper {
    width: clamp(30rem, 100%, 96rem);
    margin-bottom: 5em;

    & button {
        appearance: none;
        border-radius: .8rem;
        background-color: #333;
        color: #fff;
        border: 1px solid transparent;
        cursor: pointer;
        font-size: 1.4rem;

        &[disabled] {
            background-color: #dadada;
            color: #333;
            cursor: default;
        }

        &:not([disabled]):hover {
            opacity: .75;
        }

        &#jumpThisMonth {
            background-color: #59b835;
            margin: 1.5em 0 .5em;
        }
    }

    & h2 {
        font-size: 2rem;
        margin-bottom: .5em;
    }

    & .btns {
        display: flex;
        justify-content: space-between;

        & button {
            padding: .5em 1em;
        }
    }

    & .calendar {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        place-items: center;
        place-content: start;
        border-radius: .4rem;

        & li {
            min-height: 5em;
        }

        & li.calendarLists {
            padding: .5em;
            align-self: stretch;
            background-color: #fff;
            width: 100%;
            border: 1px solid #dadada;
            text-align: center;

            /* 日曜日 */
            &[data-daydate='0'] {
                background-color: #f5c0c0;
            }

            /* 土曜日 */
            &[data-daydate='6'] {
                background-color: #c0dff5;
            }

            &.todaySignal {
                background-color: #e8ffea;
            }

            & p {
                margin: 0;
                line-height: 2;
                overflow-wrap: anywhere;
            }
        }

        & li.theOneWeek{
            min-height: 2em;
            display: grid;
            place-content: center;
            background-color: #eaeaea;
            border-right: 1px solid #dadada;
            width: 100%;
            text-align: center;
            font-weight: bold;

            &:first-of-type{
                border-left: 1px solid #dadada;
            }
        }
    }
}

@media screen and (min-width: 1080px) {
    .wrapper {
        width: clamp(300px, 100%, 960px);

        & button {
            border-radius: 4px;
            font-size: 14px;
        }

        & h2 {
            font-size: 20px;
        }

        & .calendar {
            border-radius: 8px;
        }
    }
}